.published {
    display: block;
    padding: 10px;
    text-align: right;
    font-size: .9em
}

.post-container blockquote {
    font-style: italic;
    opacity: 0.8;
    border-left: 3px solid #EEE;
    padding-left: 16px;
}

.post-container a {
    text-decoration: none;
    color: #4a9c54;
}

.post-container a:hover {
    text-decoration: underline;
    color: green;
}

.post-container .copyright {
    font-size: .7em;
    color: rgb(62, 129, 67);
    opacity: 0.6;
}

.post-container .copyright #brick {
    width: 1.7em;
    height: 1.7em;
    display: inline-block;
    background-image: url('/images/voz-brick.png');
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;              
    color: transparent !important;
    vertical-align: middle; 
    margin-top: -2px;
}

.post-container h1:before, 
.post-container h2:before, 
.post-container h3:before, 
.post-container h4:before, 
.post-container h5:before, 
.post-container h6:before {
    color: #CCC;
    margin-left: -20px;
    margin-right: 10px;
    content: "#";
}

.post-container h2 {
    counter-increment: first;
    counter-reset: second;
}

.post-container h2:before {
    content: counter(first) ".";
}

/* code highlight */
code {
    background: #FAFAFA;
    color: rgb(62, 129, 67);
    padding: 2px;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 0.95em;
}

p>code, li>code, li>div>code {
    color: #000;
    font-weight: bold;
}

.skip code {
    background: none;
    color: initial;
    font-size: 1.0em;
    font-family: initial;
    padding: initial;
}

.hljs {
    background: none !important;
    overflow-x: hidden !important;
}

pre {
    background: #F8F8F8 !important;
    padding: 10px;
    border-radius: 5px;
    overflow-x: hidden !important;
}

pre>code {
    padding: 0 !important;
    margin: 0 !important;
    background: none;
}

pre code, pre code * {
    font-size: 1.0em !important;
}

/* go to top button */

#go-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #4a9c54;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    opacity: 0.5;
}

#go-top i {
    font-size: 18px;
}

#go-top:hover {
    background-color: green;
    opacity: 0.8;
}

/* responsive */

@media screen and (max-width: 800px) {
    pre, pre code {
        overflow-x: auto!important
    }
    .hljs {
        background: 0 0!important;
        overflow-x: auto!important
    }
}