article.editor-container {
    height: 700px;
    max-width: 100%;
    display: flex;
    margin: 0 20px 0 20px;
    padding: 0;
}

.editor-container div {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    overflow: auto;
    width: 50%;
    padding-left: 25px;
    padding-right: 10px; 
}

.editor-container .editor {
    overflow: hidden;
}

.editor-container .editor textarea {
    padding-top: 40px !important;
    width: 95%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;    
    font-size: 0.9em !important;    
    line-height: 150% !important;
}

.editor-container .preview .published {
    width: 100%;
    display: block;
    padding: 0;
    text-align: right;
    font-size: .8em;
    overflow: auto;
}