.post-list a {
    color: #4a9c54;
    text-decoration: none;
}

.year {
    margin-bottom: 50px;
}

.year .header:hover {
    cursor: pointer;
    color: gray;
    user-select: none;
}

.year .header {
    display: flex;
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: bold;
}

.header .line {
    display: inline-block;
    margin-top: 17px;
    height: 2px;
    text-shadow: none;
    background-color: #999;
    flex-grow: 1;
}

.year .entries {
    transition: max-height 0.5s ease-in-out;
    margin-left: 25px;
    margin-right: 10px;
    max-height: 1000px;
}

.year.collapse .entries {
    max-height: 0;
    overflow: hidden;
}

.year .header>.button {
    font-size: 0.8em;
    transition: transform 0.3s ease-in-out;
}

.year.collapse .header>.button {
    transform: rotate(-90deg);
}

.year .entry {
    width: 100%;
    border-bottom: #4a9c54 1px dotted;
}

.entry a:hover {
    padding-left: 12px;
    color: green;
    background-color: #efffe0;
}

.entry a {
    transition: all 0.2s ease-in-out;
    display: block;
    position: relative;
    text-align: left;
    padding: 15px 0 15px 0;
}

.entry a * {
    display: inline-block;
    margin: 0;
}

.entry a>.entry-title {
    margin-right: 10px;
}

.entry a>time {
    font-size: 0.9em;
    color: #6e6e6e;
}

.entry a>time::before {
    content: "/";
    margin-right: 10px;
}