* {
    font-family: inconsolata, monospace;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

::selection {
    background: #cedf90;
    display: block;
}

/* responsive */
@media screen and (max-width: 800px) {    
    article, aside {
        width: auto;
    }
    main {
        flex-direction: column;
    }
    .post-list .entry a {
       padding: 10px 0 10px 0;
    }
    .entry a:hover {
        padding-left: 12px;
    }
    .entry a * {
        display: block;
    }
    .entry a>time::before {
        display: none;        
    }
}

/* customize default value */

/* header tag font size */

h1 {
    font-size: 1.8em;
    line-height: 1.2em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.05em;
}

h5 {
    font-size: 0.95em;
}

h6 {
    font-size: 0.6em;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 5px;
}

strong, b, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

@import 'components/layout/Header/index.css';
@import 'components/layout/Body/index.css';
@import 'components/layout/Footer/index.css';
@import 'components/pages/Home/index.css';
@import 'components/pages/Post/Comment/index.css';
@import 'components/pages/Post/index.css';
@import 'components/pages/PostEditor/index.css';
@import 'styles/fontello.css';
@import '../node_modules/highlightjs/styles/tomorrow.css';