main {
    display: flex;
    justify-content: center;
    min-height: 220px;
    padding: 0 20px 0 20px;
}

main p {
    line-height: 150%;
}

main img, main .center {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 3px;
}

aside {
    width: 25%;
}

article {
    max-width: 800px;
    flex-grow: 1;
}

.loading {
    padding: 30px;
    background: url('/images/loading.gif') no-repeat center center;
    display: block
}

::-webkit-scrollbar-track {
    background-color: #eee
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #ccc
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border: 0
}